@keyframes words {
    0%, 20% {
        content: "Web Developer";
    }
    21%, 40% {
        content: "Creator";
    }
    41%, 60% {
        content: "Graphic Designer";
    }
    61%, 80% {
        content: "Video Editor";
    }
    81%, 100% {
        content: "Student";
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }

    p {
        font-size: 1.6rem;
    }

    .home-img img {
        max-width: 250px;
    }
}
